body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;

}
.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  color: blueviolet;
}
h1.marca-name {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(226, 43, 43);

}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  border: #000000 1px solid;

}